@model CentralOngs.Models.JobModel

@{
    ViewData["Title"] = "Details";
}
    @if (User.IsInRole("Ong") && Model.UserOngId.ToString() == User.Claims.ElementAt(1).Value)
    {
    <a asp-controller="Ongs" asp-action="MyJobs" asp-route-id="@User.Claims.ElementAt(1).Value" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
    }
    @if (User.IsInRole("Voluntario"))
    {
    <a asp-controller="Voluntarios" asp-action="MyVacancies" asp-route-id="@User.Claims.ElementAt(1).Value" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
    }

<h1>Detalhes da Vaga</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserOng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserOng.Name)
        </dd>
    </dl>

    @if (User.IsInRole("Ong") && Model.UserOngId.ToString() == User.Claims.ElementAt(1).Value)
    {
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Deletar</a>
        <a asp-action="AllCandidates" asp-route-id="@Model.Id" class="btn btn-primary">Candidatos</a>
    }
    @if (User.IsInRole("Voluntario")){
        <form asp-action="Details">
            <input type="submit" value="To dentro!" class="btn btn-primary" />
            <p class="text-danger">@ViewBag.MensageErrorVacancy</p>
        </form>
    }
    <a asp-action="Index" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Voltar para a lista</a>
</div>
