@model IEnumerable<CentralOngs.Models.JobModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using (Html.BeginForm())
{
    <div>
        Pesquisa: @Html.TextBox("SearchString")
        @Html.DropDownList("jobType", new SelectList(Enum.GetValues(typeof(JobType))), "Todos os tipos")
        @Html.DropDownList("state", null, "Todos os estados")     
        <input type="submit" value="Search" />
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfVacancies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserOng)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfVacancies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserOng.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Ver mais</a> |
            </td>
        </tr>
}
    </tbody>
</table>
