@model IEnumerable<CentralOngs.Models.VacancyModel>

@{
    ViewData["Title"] = "MyVacancies";
}
<a asp-controller="Voluntarios" asp-action="Details" type="button" asp-route-id="@User.Claims.ElementAt(1).Value" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
<h1>MyVacancies</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserVoluntarioAbout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserVoluntario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserVoluntarioAbout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserVoluntario.Name)
            </td>
            <td>
                    <a asp-controller="Job" asp-action="Details" asp-route-id="@item.JobId">Details</a> |
                    <a asp-controller="Vacancy" asp-action="Delete" asp-route-id="@item.Id">Remover candidatura</a>
            </td>
        </tr>
}
    </tbody>
</table>
