@model CentralOngs.Models.VacancyModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VacancyModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserVoluntarioAbout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserVoluntarioAbout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Job)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserVoluntario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserVoluntario.Contact)
        </dd>
    </dl>
</div>
