@model IEnumerable<CentralOngs.Models.UserOngModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Nossas ONGs parceiras</h1>

<<div class="row" id="myCard">
    @foreach (var item in Model)
    {
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="\images\@item.ImagemUrl" class="img-fluid" width="200px"/>
                    </a>
                </div>
                <div class="card-body">
                    <h5 id="title" class="card-title bg-light">@item.Name</h5>
                    <h6>@item.Email</h6>
                    <p class="card-text">@item.Contact</p>
                    <p class="card-text">@item.Cnpj</p>
                    <a type="button" asp-controller="OngsController" asp-action="Details" asp-route-id="@item.Id">Saiba mais sobre esta Ong.</a>
                </div>
            </div>
        </div>
    }
</div>

<a asp-controller="Home" asp-action="Index">Voltar</a>

