@model CentralDasOngs.Models.UserVoluntarioModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserVoluntarioModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdressModel.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdressModel.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdressModel.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdressModel.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdressModel.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdressModel.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdressModel.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdressModel.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdressModel.HouseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdressModel.HouseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdressModel.Complement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdressModel.Complement)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cpf">Editar</a> |
    <a asp-action="Delete" asp-route-id="@Model.Cpf">Deletar</a> |
    <a asp-controller="Home" asp-action="Index">Voltar</a>
</div>
