@model CentralDasOngs.Models.DadoBancario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DadoBancario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroConta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroConta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banco.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioOng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioOng.Cnpj_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
